// COLORS
$navy:   #161D3B;
$gold:   #DEB137;

$black:  #444444;
$black-2: rgba($black, 0.8);
$white:  #F1F1F1;
$stark:  #FFFFFF;

// Fonts
$body:    'Cantarell', 'Georgia', serif;
$heading: 'Playfair Display', 'Georgia', 'Times', serif;
