body {
  font-family: $body;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: $heading;
  margin-top: 0;
}

h1 {
  font-size: 2.2rem;

  @include mq-l {
    font-size: 4.2rem;
  }
}

h4 {
  font-size: rem(20);
  letter-spacing: 0.05rem;
}

a {
  color: $gold;

  &:hover { color: $navy; }
}


ul.image-list {
  color: $white;
  padding: 1rem 2rem;
}

ul.image-list img {
  vertical-align: middle;
}

video {
  background: black;
  width: 100%;
}

// Forms
form {
  input[type=text],
  input[type=email],
  textarea {
    background: $stark;
    border: rem(1) solid $navy;
    border-radius: 0.5rem;
    padding: 0.5rem;

    &:focus {
      border: rem(1) solid $gold !important;
      border-bottom: rem(1) solid $gold !important;
      box-shadow: none !important;
    }
  }

  .input-field label.active,
  .input-field label {
    color: $black;
    font-size: 16px;
    top: -0.2rem;
  }

  .select-wrapper+label {
    top: -2.25rem;
  }

  .select-wrapper {
    background-color: $stark;
    border: rem(1) solid $navy;
    border-radius: 0.5rem;

    input.select-dropdown { 
      border: none !important; 
      padding-left: 1rem;
      margin: 5px 0 10px 0;

      &:focus {
        border: none;
      }
    }

    .caret {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

  textarea {
    height: 10rem;
    padding: 1rem;
  }

}