---
layout: default
body-class: home
---
<section class="splash">
  <div class="slider">
    <img src="{{site.url}}/assets/img/slider/1.jpg" />
    <img src="{{site.url}}/assets/img/slider/2.jpg" />
    <img src="{{site.url}}/assets/img/slider/3.jpg" /> 
  </div> 
</section>
<secion class="alert-bar">
  <div class="container">
    <hr>
    <p>
      In the wake of the current COVID-19 pandemic, We at Tier 1 Stone and Tile have decided to shift our distribution efforts to focus solely on providing critical supplies and equipment to medical facilities facing rapidly increasing demands. We are committed to being a trusted partner and supporter of the international healthcare industry during this ongoing global crisis. Care is at the heart of our mission, and the health and safety of our communities will continue to be our top priority.
    </p>
    <hr>
  </div>
</section>
<section class="intro-text">
  <div class="container">
    <h2>Providing the highest quality natural stone, wood and tile. From our facilities to your visions. No in-betweens.</h2>
  </div>
</section>
<section id="products" class="section-panel products">
  <div class="container">
    <h1 class="section-heading">Featured Products</h1>
    <p>All the products listed below are either in inventory or in transit for inventory. Please select any category to view the product range.</p>
    <div class="product-categories">
      <div class="row">
        {% for c in site.data.product-categories %}
        {% if c.custom == false %}
        <div class="col s12 m6 l6">
          <div class="card c.class">
            <div class="card-image">
              <img src="{{ c.image | prepend: site.url }}" alt="{{ c.title }}">
            </div>
            <div class="card-action">
              <a class="btn" href="{{c.link | prepend: site.url }}">{{ c.title }}</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- end .container -->
</section>