<footer id="contact" class="blue-grey page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <a href="/" class="brand-logo"><img src="{{ "/assets/img/logo.svg" | prepend: site.baseurl }}" alt="Tier 1 Stone and Tile"></a>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li class="grey-text text-lighten-3">PO Box 7072 Sherwood, AR 72124</li>
          <li class="grey-text text-lighten-3">info@tier1stone.com</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &copy; 2019 Tier 1 Stone and Tile 
    </div>
  </div>
</footer>