.btn {
  background: $gold;
  border: rem(1) solid $gold - 20;
  color: $black;
  font-family: $heading;
  font-size: 0.8rem;

  &.active,
  &:hover {
    background: $gold - 20;
  }
}

.btn.btn-secondary {
  background: $navy;
  border: rem(1) solid $black - 20;
  color: $white;

  &:hover {
    background: $black - 20;
  }
}
