.section-panel.about {
  background: $stark;  
}

.section-panel.about .panel-half {

  .inner {
    display: table;
    min-height: rem(500);
  }

  .text {
    display: table-cell;
    vertical-align: middle;
  }
}

.section-panel.about .text {
  text-align: center;
}

.section-panel.about .image {
  background: url('../img/about-image-panel.png') no-repeat center center;
  background-size: 35%;
}
