.splash {
  padding: 3rem 0;
  overflow: hidden;
  position: relative;

  @include mq-m {
    padding: 4rem 0;
  }
  
  .slick-slider {
    @include mq-s {
      max-height: 150px;
    }
    max-height: 150px;
    @include mq-m {
      max-height: 221px;
      max-height: none;
    }
  }
}

.intro-text {
  text-align: left;
  position: relative;
  z-index: 1;

  @include mq-m {
    text-align: center; 
  }
}

.intro-text h2 {
  color: $gold;
  font-size: 32px;
  line-height: 1.2;

  @include mq-m {
    font-size: 50px;
  }
}

.intro-text p {
  color: $white;
  font-size: 2rem;
}

