---
layout: default
title: Flooring 
---
<section class="section-panel products">
  <div class="container">
    <h1 class="section-heading">{{ page.title }}</h1>
    <p>To order, we require a 50% deposit with the balance due upon receipt of goods, or a 30% deposit with the balance required for release of goods. Lead times for receipt of initial quantity of material vary from 12-20 weeks, based on complexity, project location, and availability of raw material.</p>
      suited to transform any room into a work of art. With truly beautiful finishes and expert
      craftsmanship, this line of stone floors brings beauty and longevity to any project.</p>
    <p class="callout-text">We offer custom Flooring in a wide range of dimensions and finishes, for any residential or commercial application. Below you will find a link to our Flooring catalog. This resource can be used to select colors and finishes for your custom Flooring.</p>
    <div class="card col s12 m6">
      <div class="card-content">
        <h4>View Catalog</h4>
        <a href="{{site.url}}/assets/downloads/old_floors_catalog.pdf" class="btn">View Catalog</a>
      </div>
    </div>
    <div class="product-list flooring">
        <div class="product-cards row">
            <h3>Sandstone</h3> 
            {% for p in site.data.flooring %}
            {% if p.nature == 'Sandstone' %}
            <a href="{{site.url}}/products/custom/flooring/{{p.title | downcase | replace: ' ', '-'}}.html" class="product-card col s12 m6 l4">
              <div class="inner">
                <div class="image">
                  <img src="{{p.image | prepend: site.url }}" alt="{{p.title}}"/>
                </div>
                <div class="description">
                  <h4>{{p.title}}</h4>
                </div>
              </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
  
          <h3>Limestone</h3>
          <div class="product-cards row">
            {% for p in site.data.flooring %}
            {% if p.nature == 'Limestone' %}
            <a href="{{site.url}}/products/custom/flooring/{{p.title | downcase | replace: ' ', '-'}}.html" class="product-card col s12 m6 l4">
              <div class="inner">
                <div class="image">
                  <img src="{{p.image | prepend: site.url }}" alt="{{p.title}}"/>
                </div>
                <div class="description">
                  <h4>{{p.title}}</h4>
                </div>
              </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
  
          <h3>Quartzite</h3>
          <div class="product-cards row">
            {% for p in site.data.flooring %}
            {% if p.nature == 'Quartzite' %}
            <a href="{{site.url}}/products/custom/flooring/{{p.title | downcase | replace: ' ', '-'}}.html" class="product-card col s12 m6 l4">
              <div class="inner">
                <div class="image">
                  <img src="{{p.image | prepend: site.url }}" alt="{{p.title}}"/>
                </div>
                <div class="description">
                  <h4>{{p.title}}</h4>
                </div>
              </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
  
          <h3>Granite</h3>
          <div class="product-cards row">
            {% for p in site.data.flooring %}
            {% if p.nature == 'Granite' %}
            <a href="{{site.url}}/products/custom/flooring/{{p.title | downcase | replace: ' ', '-'}}.html" class="product-card col s12 m6 l4">
              <div class="inner">
                <div class="image">
                  <img src="{{p.image | prepend: site.url }}" alt="{{p.title}}"/>
                </div>
                <div class="description">
                  <h4>{{p.title}}</h4>
                </div>
              </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-panel">
  <div class="container">
    {% include contact-form.html %}
  </div>
</section>
